{% extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1>Création d'une figure</h1>

	{{ form_start(formFigure) }}

	{{ form_row(formFigure.name, {'attr': {'placeholder': "Nom de la figure"}}) }}
	{{ form_row(formFigure.content, {'attr': {'placeholder': "Description de la figure"}}) }} 

	<button type="submit" class="btn btn-success">
		{% if editMode %}
		Enregistrer les modifications
		{% else %}
		Ajouter la figure
		{% endif %}
	</button>
	
	{{ form_end(formFigure) }}
	
{% endblock %}