{% extends 'base.html.twig' %}

{% block body %}



<!-- Page Content -->
    

      <!-- Portfolio Item Heading -->
      

     <div class="homeImg" style="background:url(/assets/img/snowhome.jpg)">
     <div class="clicTricks">
     <img src="https://img.icons8.com/material/50/0874ab/snowboarding.png">
     <i class="fas fa-angle-double-down"></i>
     </div>
      </div>
      
     <div class="container">
     

      <!-- Related Projects Row -->
      <h2>Bienvenue dans le site communautaire de SnowTricks le plus fun !</h2>
      
      
      <hr>
      
    <section class="figures">
    
    {% for figure in figures %}

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
            </a>
          <a class="btn" href="{{ path('site_show' , {'id': figure.id}) }}">{{ figure.name}}</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
      </div>
        </div>

      {% endfor %}
    </section>
{% endblock %}
