{% extends 'base.html.twig'%}

{% block body %}

<article>
      
     <div class="homeImg" style="background:url(/assets/img/figure.jpg)">
     <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-trash-alt"></i>
    	 <h2>{{ figure.name }}</h2>
      </div>
      

<div class="metadata">Ecrit le {{ figure.createAt | date('d/m/Y')}}
</div>
 	<div class="content">
     {{ figure.content | raw }}
</div>
</article>

{% endblock %}