body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0874ab;
    text-align: center;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}
h1 {
	color:#0874ab;
}

h2{
	color:#0874ab;
	line-height: 7.2;
	margin-top: -88px;
}

.imageflottante
{
    float: left;
}
p {
	color:#00874ab;
}

.bg-dark {
    background-color: #0874ab!important;
}

.logoKarine {
    background-image: url(data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%…4,96.229l-1.614-4.183l-1.614,4.183H23.044 z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    background-repeat: no-repeat;
}

.logoHeader {
    padding-left: 15vh !important;
    background-size: contain;
}

.btn {
	color:fff;
}

.btn-success {
    color: #fff;
    background-color: #0874ab;
    border-color:white;
}

.background{
	 margin: 0px; 
	 padding: 0px; 
	 list-style: none; 
	 position: relative; 
	 height: 100%;
}

.homeImg {
    height: calc(100vh - 56px);
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.py-5 bg-dark{
	color:#0874ab;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
