{% extends 'base.html.twig' %}

{% block title %}SnowBoard {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
<p>Nosegrab et Tailgrab
Pas le plus facile des grab à effectuer, le nosegrab constitue à saisir l'avant du snowboard. À l'inverse, un grab sur l'arrière de la planche avec la main arrière s'appelle un tailgrab.</p>

Rodeoback et Rodeofront
Figure qui consiste à exécuter un salto vers l'arrière tout en y ajoutant une rotation d'un demi-tour. Le rodéo est « back » quand on part de dos et « front » pour un départ de face.</p>

Cork
Un Cork, appellation tirée du mot anglais corkscrew signifiant « tire-bouchon », est une rotation horizontale dont l'axe peut varier. Les meilleurs snowboardeurs réussissent des « Triple Cork ».</p>

McTwist
Rien à voir avec un menu d'une enseigne de restauration rapide. Le Mc Twist est une rotation verticale avec une vrille. Les champions réalisent des « double Mc Twist » tout en y ajoutant des rotations horizontales.</p>

One foot
Effectuer une figure one foot consiste à retirer un des pieds de la fixation. Il faut ensuite tendre la jambe au maximum pour bien montrer la manœuvre aux juges.</p>

360, 540, 720, 1080, etc.
La plupart des figures sont suivies d'un nombre. Il s'agit du nombre de degrés de la rotation. Ainsi, pour une double rotation on parle d'un 720, une triple correspond à un 1.080, ainsi de suite.</p>

</div>
{% endblock %}
