{% extends 'base.html.twig'%}

{% block body %}

<article>
		<div class"content">
		<img src="/assets/img/figure.jpg" alt="">
		<h2> Nom de la figure</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed nulla dolor. Suspendisse efficitur in erat non elementum. Fusce ac vehicula neque. Nullam efficitur dolor quis venenatis elementum. Donec cursus dolor nec tempor congue. Praesent rutrum consectetur accumsan. Nullam facilisis molestie convallis. Phasellus ut erat quis neque consequat auctor eget a lorem. Duis finibus, dolor sit amet semper consectetur, erat dui dictum libero, quis rutrum leo justo id enim. Suspendisse accumsan tortor sem, fermentum tincidunt sem facilisis nec.</p>

		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut interdum urna pellentesque ullamcorper pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur pellentesque libero eget laoreet. Morbi a lectus tristique, euismod augue vel, hendrerit dolor. Sed vehicula arcu a est scelerisque, at sodales nulla maximus. Cras sit amet elementum tellus, vel iaculis mi. Sed viverra scelerisque fringilla. Aliquam dictum ullamcorper sapien, eget ornare quam ultrices ut. Sed in massa venenatis, dapibus tortor non, ultricies orci. Aliquam molestie mattis nisi, blandit sodales tellus tincidunt ut. Curabitur a vehicula elit, at feugiat magna. Morbi luctus enim lacus, at efficitur lacus feugiat at.</p>

		<p>Praesent eu tempus massa, nec feugiat erat. Nam egestas sodales felis sit amet porta. Curabitur mollis turpis non consectetur ullamcorper. Aenean vehicula mi id bibendum tristique. Duis eleifend auctor dui, eget interdum nibh tincidunt vel. Praesent pulvinar arcu non nisi aliquet congue. Quisque consequat tempus neque egestas ultrices. Sed bibendum turpis a condimentum porta. Nulla et erat porta, faucibus urna eu, auctor nulla. Curabitur interdum dui in egestas vestibulum. Nulla volutpat ornare ligula id congue. Praesent blandit enim ipsum, sit amet posuere ligula gravida at. Curabitur nisi orci, consectetur id laoreet a, accumsan id sem. Aliquam risus neque, accumsan ultricies nisi eget, ultrices aliquet odio.</p>
		
</div>
</article>

{% endblock %}