{% extends 'base.html.twig'%}

{% block body %}

<article>
      
     <div class="homeImg" style="background:url(/assets/img/figure.jpg)">
     <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-trash-alt"></i>
     <h2>{{ figure.name }}</h2>
      </div>
      

		{{ figure.content | raw }}

</article>

{% endblock %}